extends layout

block yield
  
  .ucBreadcrumbs: .container
    .ucBreadcrumbs-link: a(href="#") Главная страница
    .ucBreadcrumbs-link Контакты
    a.free-offer(href="#") Бесплатный<br/>экспресс анализ<br/>должника
  
  .ucPageDescription: .container
    h1 Контакты

  .ucContacts
    p.ucContacts-name Юридическая компания<br />ЮРКОЛЛЕГИЯ
    p.ucContacts-phone +7 (495) 785 73 90
    p.ucContacts-address 123007, Москва, Хорошевское шоссе, д.32 А. Офисный комплекс «Солид–Кама»,
      br
      |2 подъезд, 3 этаж, офис 300
    p.ucContacts-email: a(href="mailto:ur@urcollegia.ru") ur@urcollegia.ru
    
  
  #map.ucMap

  .ucTypeset: .container
    p Офис юридической компании ЮРКОЛЛЕГИЯ расположен в Москве со дня основания компании в 1999 году.Все проекты по взысканию долгов в регионах России ведут специалисты из единого московского офиса компании.Мы используем отлаженный механизм дистанционного взыскания долгов с региональных должников,  и при необходимости, наши специалисты всегда выезжают в место нахождения должника. 
    p.p--important: b Для взыскания долгов в любом регионе РФ, обращайтесь в единый офис компании ЮРКОЛЛЕГИЯ.
    br
    br

block script
  script(type='text/javascript', src='https://maps.googleapis.com/maps/api/js')
  script.
    window.onload = function(){
      function init(){
        var mapOptions = {
          zoom: 17,
          rotateCntrol: false,
          panControl:false,
          scaleControl:false,
          scrollwheel:false,
          streetViewControl:false,
          overviewMapControl:false,
          mapTypeControl:false,
          center: new google.maps.LatLng(57.119253, 65.565033)
        };
        var image = './assets/images/marker.png';
        var mapElement = document.getElementById('map');
        var map = new google.maps.Map(mapElement, mapOptions);
        var marker = new google.maps.Marker({
          position: new google.maps.LatLng(57.119253, 65.565033),
          map: map,
          icon: image
        });
      }
      init();
    };