extends layout

block yield
  
  .ucBreadcrumbs: .container
    .ucBreadcrumbs-link: a(href="#") Главная страница
    .ucBreadcrumbs-link Контакты
  
  .ucPageDescription: .container
    h1 Контакты

  .ucContacts
    p.ucContacts-name Юридическая компания<br />ЮРКОЛЛЕГИЯ
    p.ucContacts-address 123007, Москва, Хорошевское шоссе, д.32 А. Офисный комплекс «Солид–Кама», 2 подъезд, 3 этаж, офис 300
    p.ucContacts-email: a(href="mailto:ur@urcollegia.ru") ur@urcollegia.ru
    
