extends layout

block yield
  
  .ucBreadcrumbs: .container
    .ucBreadcrumbs-link: a(href="#") Главная страница
    .ucBreadcrumbs-link География взысканий

  .ucPageDescription: .container
    h1 География взысканий
    p Юридическая компания ЮРКОЛЛЕГИЯ осуществляет взыскание долгов с компаний-должников на всей территории России.
    p.p--important: b На карте представлены города, где мы успешно завершили проекты по взысканию долгов.
    
  .ucGeography
    
  .ucTypeset: .container
    p.p--important Если перед Вами имеется задолженность юридического лица в любом регионе РФ, воспользуйтесь <a href="#"><b>бесплатным экспресс-анализом перспектив взыскания долга за 24 часа!</b></a>
