extends layout

block yield
  
  .ucBreadcrumbs: .container
    .ucBreadcrumbs-link: a(href="#") Главная страница
    .ucBreadcrumbs-link Проекты
    
  .ucPageDescription: .container
    h1 Проекты за 2015 год
    p За свою долгую историю юридическая компания ЮРКОЛЛЕГИЯ реализовала <mark class="mark--bold">более 3000  проектов по взысканию  долгов с юридических лиц различных форм собственности</mark>.  Мы успешно возвращаем долги, как с небольших частных компаний, так и с крупных государственных корпораций <mark class="mark--bold">на всей территории России и  ряде стран СНГ</mark>.
    p <mark class="mark--bold">Мы соблюдаем принцип конфиденциальности</mark> и не публикуем в разделе Проекты информацию  о том, с какого должника, и в пользу какого клиента был взыскан тот или иной долг.  Ознакомиться со списком и <mark class="mark--bold">рекомендациями некоторых наших клиентов</mark>, Вы можете в разделе <a href="#">Клиенты</a>. Вы можете получить дополнительную информацию о конкретных должниках, а так же телефоны клиентов для получения рекомендаций, обратившись к нашим менеджерам по телефону <mark class="mark--bold">+7(495) 785 73 90</mark>.

  .ucProjects
    .ucProject: .container
      .ucProject-name Май 2015
      .ucTypeset
        p В мае 2015 года  основные взыскания были осуществлены <mark class="mark--important">по исполнительным листам</mark>.  Было произведено <mark class="mark--digits">9</mark> <mark class="mark--bold">взысканий в Кемеровской, Челябинской области и в республике Башкортостан</mark>. Большинство клиентов, обратившихся в ЮРКОЛЛЕГИЮ с исполнительными листами, получили свои деньги в течение <mark class="mark--digits">1</mark> <mark class="mark--bold">месяца</mark>.
        p Так же, в мае, было произведено <mark class="mark--important">досудебное взыскание долга с подмосковной строительной компании</mark>. Юристы компании провели с представителем должника переговоры, в ходе которых были достигнуты договорённости об оплате, и в <mark class="mark--bold">течение <mark class="mark--digits">2</mark> недель</mark> должник полностью погасил задолженность в размере 1,7 млн. рублей. 
    .ucProject: .container
      .ucProject-name Май 2015
      .ucTypeset
        p В мае 2015 года  основные взыскания были осуществлены <mark class="mark--important">по исполнительным листам</mark>.  Было произведено <mark class="mark--digits">9</mark> <mark class="mark--bold">взысканий в Кемеровской, Челябинской области и в республике Башкортостан</mark>. Большинство клиентов, обратившихся в ЮРКОЛЛЕГИЮ с исполнительными листами, получили свои деньги в течение <mark class="mark--digits">1</mark> <mark class="mark--bold">месяца</mark>.
        p Так же, в мае, было произведено <mark class="mark--important">досудебное взыскание долга с подмосковной строительной компании</mark>. Юристы компании провели с представителем должника переговоры, в ходе которых были достигнуты договорённости об оплате, и в <mark class="mark--bold">течение <mark class="mark--digits">2</mark> недель</mark> должник полностью погасил задолженность в размере 1,7 млн. рублей. 
