extends layout

block yield
  
  .ucBreadcrumbs: .container
    .ucBreadcrumbs-link: a(href="#") Главная страница
    .ucBreadcrumbs-link Услуги

  .ucPageDescription: .container
    h1 Услуги
    p Юридическая компания ЮРКОЛЛЕГИЯ оказывает услуги по <a href="#">взысканию долгов</a> на всей территории России с 1999 года.
    
  .ucServices: .container: .row
    .col-xs-4
      .ucService
        .ucService-name.ucService-name--1: a(href="#") Досудебное<br />взыскание долга
        .ucService-content: p.p--important Досудебное взыскание долгов занимает первое место среди всех  возможных способов урегулирования конфликтов, связанных с  задолженностью.
    .col-xs-4
      .ucService
        .ucService-name.ucService-name--2: a(href="#") Взыскание долга в арбитражном суде
        .ucService-content: p.p--important Заниматься взысканием любого долга в арбитражном суде должен всегда исключительно специалист - юрист по специальным арбитражным спорам, специализирующийся на взыскании дебиторской задолженности. 
    .col-xs-4
      .ucService
        .ucService-name.ucService-name--3: a(href="#") Взыскание долга по исполнительному листу
        .ucService-content: p.p--important Взыскание любых долгов со страховой компании в пользу клиента — это процедура  разрешения конфликтной ситуации законными методами.
    
  .ucTypeset: .container
    p.p--important Условия работы зависят от суммы долга, периода просрочки, финансового положения должника и состояния документов, подтверждающий долг. Для определения перспективы возврата задолженности, мы проводим бесплатный экспресс-анализ перспективы взыскания долга за 24 часа.
    p.p--important: a(href="#") Свяжитесь с нами прямо сейчас!
    h3 Коллекторские услуги по возврату задолженности    
  
  .ucTypeset.ucTypeset--substrate: .container
      p.p--important Компания ЮРКОЛЛЕГИЯ с 1999 года оказывает профессиональные юридические услуги по взысканию долгов на всей территории России и ряде стран СНГ. Услуги взыскания долгов оказываются только в отношении юридических лиц и только законными способами при сумме долга от 700 тысяч рублей. Мы не занимаемся взысканием долгов с фирм-однодневок, а также не работаем с безнадёжными долгами.
      p.p--important Условия работы зависят от суммы долга, периода просрочки,  финансового положения должника и состояния документов, подтверждающих долг.Если Вас заинтересовали юридические услуги по взысканию задолженностей, Вы можете связаться с нами по телефону (495) 785-73-90, заказать звонок нашего менеджера  или воспользоваться формой заявки. 
      p.p--important После получения Вашего звонка или запроса, мы свяжемся с Вами в кратчайшие сроки.

 
