.icon, .select--round .jq-selectbox__trigger, .header-logo, .menu-link::before, .header-call::before, .header-phone, .ad-services > li::before, .m-slider-control, .m-news-control, .route, .route-plane, .ucService-name::before, .ucClient-show {
  background-image: url("../images/sprite.png");
}

.jq-checkbox {
  top: -1px;
  width: 13px;
  height: 13px;
  border: 1px solid #C3C3C3;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  background: #F6F6F6 url(data:image/gif;base64,R0lGODlhAQAMALMAAPHx8f7+/vv7+/j4+PX19fLy8vz8/Pn5+fb29vPz8/39/ff39wAAAAAAAAAAAAAAACH5BAAAAAAALAAAAAABAAwAAAQJMCgjzliIpAIiADs=) repeat-x;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05), inset -1px -1px #FFF, inset 1px -1px #FFF;
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05), inset -1px -1px #FFF, inset 1px -1px #FFF;
  vertical-align: middle;
  cursor: pointer;
}

.jq-checkbox.checked .jq-checkbox__div {
  width: 9px;
  height: 9px;
  margin: 2px 0 0 2px;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  background: #666;
  -webkit-box-shadow: inset 0 -3px 6px #AAA;
          box-shadow: inset 0 -3px 6px #AAA;
}

.jq-checkbox.focused {
  border: 1px solid #08C;
}

.jq-checkbox.disabled {
  opacity: 0.55;
  filter: alpha(opacity=55);
}

.jq-radio {
  width: 12px;
  height: 12px;
  border: 1px solid #C3C3C3;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: #F6F6F6 url(data:image/gif;base64,R0lGODlhAQAMALMAAPHx8f7+/vv7+/j4+PX19fLy8vz8/Pn5+fb29vPz8/39/ff39wAAAAAAAAAAAAAAACH5BAAAAAAALAAAAAABAAwAAAQJMCgjzliIpAIiADs=) 0 -1px repeat-x;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05), inset -1px -1px #FFF, inset 1px -1px #FFF;
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05), inset -1px -1px #FFF, inset 1px -1px #FFF;
  vertical-align: middle;
  cursor: pointer;
}

.jq-radio.checked .jq-radio__div {
  width: 6px;
  height: 6px;
  margin: 3px 0 0 3px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: #666;
}

.jq-radio.focused {
  border: 1px solid #08C;
}

.jq-radio.disabled {
  opacity: 0.55;
  filter: alpha(opacity=55);
}

.jq-file {
  width: 270px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 4px;
          border-radius: 4px;
}

.jq-file input {
  cursor: pointer;
  height: auto;
  line-height: 1em;
}

.jq-file__name {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 32px;
  padding: 0 80px 0 10px;
  color: #333;
  font: 14px/30px Arial, sans-serif;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  border: 1px solid #CCC;
  border-bottom-color: #B3B3B3;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: inset 1px 1px #F1F1F1;
          box-shadow: inset 1px 1px #F1F1F1;
  background: #FFF;
}

.focused .jq-file__name {
  border: 1px solid #5794BF;
}

.jq-file__browse {
  position: absolute;
  top: 1px;
  right: 1px;
  padding: 0 10px;
  border-left: 1px solid #CCC;
  -webkit-border-radius: 0 4px 4px 0;
          border-radius: 0 4px 4px 0;
  background: #F1F1F1 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAeCAIAAABi9+OQAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABdJREFUeNpi+v//PxM2zMDAQEtxgAADAF2uTe9L4getAAAAAElFTkSuQmCC) repeat-x;
  -webkit-box-shadow: inset 1px -1px #F1F1F1, inset -1px 0 #F1F1F1, 0 1px 2px rgba(0, 0, 0, 0.1);
          box-shadow: inset 1px -1px #F1F1F1, inset -1px 0 #F1F1F1, 0 1px 2px rgba(0, 0, 0, 0.1);
  color: #333;
  text-shadow: 1px 1px #FFF;
  font: 14px/30px Arial, sans-serif;
}

.jq-file:hover .jq-file__browse {
  background-color: #E6E6E6;
  background-position: 0 -10px;
}

.jq-file:active .jq-file__browse {
  background: #F5F5F5;
  -webkit-box-shadow: inset 1px 1px 3px #DDD;
          box-shadow: inset 1px 1px 3px #DDD;
}

.jq-file.disabled .jq-file__name {
  color: #888;
}

.jq-file.disabled,
.jq-file.disabled .jq-file__browse {
  border-color: #CCC;
  background: #F5F5F5;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #888;
}

.jq-selectbox {
  vertical-align: middle;
  cursor: pointer;
}

.select--round .jq-selectbox__select {
  -webkit-border-radius: 15px;
          border-radius: 15px;
  height: 30px;
  background: #ececec;
  line-height: 30px;
  width: 100px;
  border: 0;
  margin-left: 10px;
  margin-right: 10px;
}

.jq-selectbox__select-text {
  display: block;
  width: 100% !important;
  padding-right: 40px;
  overflow: hidden;
  text-align: right;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.jq-selectbox .placeholder {
  color: #888;
}

.jq-selectbox__trigger {
  position: absolute;
  top: 0;
  right: 0;
}
.select--round .jq-selectbox__trigger {
  background-position: -266px -237px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 30px;
  height: 30px;
}

.jq-selectbox:hover .jq-selectbox__trigger-arrow {
  opacity: 1;
  filter: alpha(opacity=100);
}

.jq-selectbox.disabled .jq-selectbox__trigger-arrow {
  opacity: 0.3;
  filter: alpha(opacity=30);
}

.jq-selectbox__dropdown {
  top: 33px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 1px solid #CCC;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  background: #FFF;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  font: 14px/18px Arial, sans-serif;
}

.jq-selectbox__search {
  margin: 5px;
}

.jq-selectbox__search input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding: 5px 27px 6px 8px;
  outline: none;
  border: 1px solid #CCC;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAMCAYAAABiDJ37AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAO1JREFUeNqU078LAXEYx/FzYfNzk5TJaFNKYjFYSQZ/hvwBsvg1UCY2xT9gM8hukQGThWRjkcFw3pdnujhfT736Xn2fPvfc3fd07V0OFDDFAnM0ENYsZRiGLSc9OpqIYIA9fMhhjCrW2h9VlMlcH/aymMGtOqEugX08PwQucUZKdTozMIqdTc9WepQD7wjY9ARx+ydwhfyXfS+S0qMcOEQJGcueB3VccFINdMgal6NzkmPjRwJXxDBB7/2RDdtAp6wb+dpphHDASG5QQ0V6u2aoSqBZD/lDrNWRJynLK2qpBn4rc6K2XB9/Nb8EGABtf1thzY6X2AAAAABJRU5ErkJggg==) no-repeat 100% 50%;
  -webkit-box-shadow: inset 1px 1px #F1F1F1;
          box-shadow: inset 1px 1px #F1F1F1;
  color: #333;
  -webkit-appearance: textfield;
}

.jq-selectbox__search input::-webkit-search-cancel-button,
.jq-selectbox__search input::-webkit-search-decoration {
  -webkit-appearance: none;
}

.jq-selectbox__not-found {
  margin: 5px;
  padding: 5px 8px 6px;
  background: #F0F0F0;
  font-size: 13px;
}

.jq-selectbox ul {
  margin: 0;
  padding: 0;
}

.jq-selectbox li {
  min-height: 18px;
  padding: 5px 10px 6px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-user-select: none;
  white-space: nowrap;
  color: #231F20;
}

.jq-selectbox li.selected {
  background-color: #A3ABB1;
  color: #FFF;
}

.jq-selectbox li:hover {
  background-color: #08C;
  color: #FFF;
}

.jq-selectbox li.disabled {
  color: #AAA;
}

.jq-selectbox li.disabled:hover {
  background: none;
}

.jq-selectbox li.optgroup {
  font-weight: bold;
}

.jq-selectbox li.optgroup:hover {
  background: none;
  color: #231F20;
  cursor: default;
}

.jq-selectbox li.option {
  padding-left: 25px;
}

.jq-select-multiple {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1px;
  border: 1px solid #CCC;
  border-bottom-color: #B3B3B3;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: inset 1px 1px #F1F1F1, 0 1px 2px rgba(0, 0, 0, 0.1);
          box-shadow: inset 1px 1px #F1F1F1, 0 1px 2px rgba(0, 0, 0, 0.1);
  background: #FFF;
  color: #333;
  font: 14px/18px Arial, sans-serif;
  cursor: default;
}

.jq-select-multiple.focused {
  border: 1px solid #5794BF;
}

.jq-select-multiple.disabled {
  border-color: #CCC;
  background: #F5F5F5;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #888;
}

.jq-select-multiple ul {
  margin: 0;
  padding: 0;
}

.jq-select-multiple li {
  padding: 3px 9px 4px;
  list-style: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  white-space: nowrap;
}

.jq-select-multiple li:first-child {
  -webkit-border-radius: 3px 3px 0 0;
          border-radius: 3px 3px 0 0;
}

.jq-select-multiple li:last-child {
  -webkit-border-radius: 0 0 3px 3px;
          border-radius: 0 0 3px 3px;
}

.jq-select-multiple li.selected {
  background: #08C;
  color: #FFF;
}

.jq-select-multiple li.disabled {
  color: #AAA;
}

.jq-select-multiple.disabled li.selected,
.jq-select-multiple li.selected.disabled {
  background: #CCC;
  color: #FFF;
}

.jq-select-multiple li.optgroup {
  font-weight: bold;
}

.jq-select-multiple li.option {
  padding-left: 25px;
}

input[type="email"].styler,
input[type="number"].styler,
input[type="password"].styler,
input[type="search"].styler,
input[type="tel"].styler,
input[type="text"].styler,
input[type="url"].styler,
textarea.styler {
  padding: 7px 9px;
  border: 1px solid #CCC;
  border-bottom-color: #B3B3B3;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: inset 1px 1px #F1F1F1, 0 1px 2px rgba(0, 0, 0, 0.1);
          box-shadow: inset 1px 1px #F1F1F1, 0 1px 2px rgba(0, 0, 0, 0.1);
  color: #333;
  font: 14px Arial, sans-serif;
}

input[type="search"].styler {
  -webkit-appearance: none;
}

textarea.styler {
  overflow: auto;
}

input[type="email"].styler:hover,
input[type="number"].styler:hover,
input[type="password"].styler:hover,
input[type="search"].styler:hover,
input[type="tel"].styler:hover,
input[type="text"].styler:hover,
input[type="url"].styler:hover,
textarea.styler:hover {
  border-color: #B3B3B3;
}

input[type="email"].styler:focus,
input[type="number"].styler:focus,
input[type="password"].styler:focus,
input[type="search"].styler:focus,
input[type="tel"].styler:focus,
input[type="text"].styler:focus,
input[type="url"].styler:focus,
textarea.styler:focus {
  border-color: #CCC;
  border-top-color: #B3B3B3;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  outline: none;
}

button.styler,
input[type="button"].styler,
input[type="submit"].styler,
input[type="reset"].styler {
  overflow: visible;
  padding: 7px 11px;
  outline: none;
  border: 1px solid #CCC;
  border-bottom-color: #B3B3B3;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  background: #F1F1F1 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAeCAIAAABi9+OQAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABdJREFUeNpi+v//PxM2zMDAQEtxgAADAF2uTe9L4getAAAAAElFTkSuQmCC) repeat-x;
  -webkit-box-shadow: inset 1px -1px #F1F1F1, inset -1px 0 #F1F1F1, 0 1px 2px rgba(0, 0, 0, 0.1);
          box-shadow: inset 1px -1px #F1F1F1, inset -1px 0 #F1F1F1, 0 1px 2px rgba(0, 0, 0, 0.1);
  color: #333;
  text-shadow: 1px 1px #FFF;
  font: 14px Arial, sans-serif;
  cursor: pointer;
}

button.styler::-moz-focus-inner,
input[type="button"].styler::-moz-focus-inner,
input[type="submit"].styler::-moz-focus-inner,
input[type="reset"].styler::-moz-focus-inner {
  padding: 0;
  border: 0;
}

button.styler:after {
  content: '';
}

button.styler:not([disabled]):hover,
input[type="button"].styler:not([disabled]):hover,
input[type="submit"].styler:not([disabled]):hover,
input[type="reset"].styler:hover {
  background-color: #E6E6E6;
  background-position: 0 -10px;
}

button.styler:not([disabled]):active,
input[type="button"].styler:not([disabled]):active,
input[type="submit"].styler:not([disabled]):active,
input[type="reset"].styler:active {
  background: #F5F5F5;
  -webkit-box-shadow: inset 1px 1px 3px #DDD;
          box-shadow: inset 1px 1px 3px #DDD;
}

button.styler[disabled],
input[type="button"].styler[disabled],
input[type="submit"].styler[disabled] {
  border-color: #CCC;
  background: #F5F5F5;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #888;
}

.u-color--gray {
  color: #bbbcc0;
}

/*
 * To update sprite.scss use:
 * sprity create /Users/pavel/Desktop/projects/uc/assets/images /Users/pavel/Desktop/projects/uc/assets/images/src/*.png -s ../stylesheets/sprite.scss --processor sprity-sass --orientation binary-tree
 */
*, *:after, *:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.debug, .debug * {
  background: rgba(0, 0, 0, 0.1);
  outline: 1px solid rgba(0, 0, 0, 0.2);
}

html {
  font-size: 10px;
}

body {
  font-family: 'PT Sans', sans-serif;
  font-size: 15px;
  color: #1b1b1b;
  line-height: 20px;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-width: 984px;
  letter-spacing: -.01em;
}

a {
  color: #1956bf;
  text-decoration: underline;
  -webkit-transition: color .2s linear;
          transition: color .2s linear;
}
a:hover {
  color: #fa114d;
}

b {
  font-weight: bold;
}

h1 {
  font-size: 38px;
  line-height: 40px;
  margin-bottom: 10px;
  font-style: italic;
}

h2 {
  font-size: 21px;
  line-height: 20px;
  margin-bottom: 20px;
}

.typeset h1 {
  margin-bottom: -10px;
}
.typeset p {
  margin-bottom: 20px;
}

.p--important {
  font-size: 17px;
  line-height: 20px;
}

.lt-news-item-datetime {
  color: #bcbcbc;
  font-size: 13px;
  line-height: 20px;
  margin-top: 10px;
}
.lt-news-item + .lt-news-item {
  margin-top: 30px;
}

.footer {
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 13px;
  line-height: 20px;
}
.footer-links {
  margin-bottom: 20px;
}
.footer-links > li {
  display: inline-block;
}
.footer-links > li + li {
  margin-left: 25px;
}
.footer-email {
  margin-left: 25px;
}

.header {
  height: 180px;
}

.header-logo {
  position: absolute;
  top: 30px;
  left: 12px;
  background-position: -158px -10px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 290px;
  height: 50px;
}

.header-nav {
  position: absolute;
  top: 50px;
  left: 340px;
  padding-top: 3px;
}
.header-nav > li {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  line-height: 20px;
}
.header-nav > li:first-child::before {
  display: none;
}
.header-nav > li::before {
  content: '/';
  display: inline-block;
  margin: 0 8px;
}
.header-nav > li > a {
  font-style: italic;
}

.menu {
  position: absolute;
  top: 120px;
  left: 12px;
}
.menu > li {
  display: inline-block;
  vertical-align: top;
  font-size: 17px;
  line-height: 20px;
}
.menu > li + li {
  margin-left: 35px;
}

.menu-link {
  color: #1b1b1b;
  text-decoration: none;
  text-transform: uppercase;
}
.menu-link:hover {
  color: #1a56bf;
}
.menu-link::before {
  content: '';
  margin-right: 10px;
  vertical-align: top;
}
.menu-link--services::before {
  background-position: -301px -302px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  width: 21px;
  height: 18px;
}
.menu-link--services:hover::before {
  background-position: -260px -302px;
}
.menu-link--clients::before {
  background-position: -412px -237px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  width: 26px;
  height: 22px;
}
.menu-link--clients:hover::before {
  background-position: -366px -237px;
}
.menu-link--analytics::before {
  background-position: -182px -302px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  width: 19px;
  height: 22px;
}
.menu-link--analytics:hover::before {
  background-position: -221px -302px;
}
.menu-link--contacts::before {
  background-position: -102px -302px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  width: 20px;
  height: 22px;
}
.menu-link--contacts:hover::before {
  background-position: -142px -302px;
}

.header-call {
  position: absolute;
  top: 90px;
  right: 12px;
  border-bottom: 1px dashed;
  text-decoration: none;
  font-size: 21px;
  line-height: 20px;
}
.header-call::before {
  content: '';
  position: absolute;
  top: -4px;
  left: -34px;
  background-position: -10px -302px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 26px;
  height: 26px;
}
.header-call:hover {
  border-bottom: none;
}
.header-call:hover::before {
  background-position: -56px -302px;
}

.header-phone {
  background-position: -158px -80px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 245px;
  height: 29px;
  position: absolute;
  right: 12px;
  top: 40px;
}

.ad-services {
  margin-left: 0;
  text-align: justify;
  height: 30px;
  text-justify: distribute-all-lines;
  -ms-text-justify: distribute-all-lines;
}
.ad-services:after {
  content: '';
  display: inline-block;
  font-size: 0;
  line-height: 0;
  width: 100%;
  height: 0;
}
.ad-services > li {
  color: #547ec2;
  display: inline-block;
  vertical-align: middle;
  font-size: 21px;
  line-height: 30px;
}
.ad-services > li::before {
  content: '';
  background-position: -423px -80px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  width: 21px;
  height: 23px;
  vertical-align: middle;
  margin-right: 5px;
  position: relative;
  top: -2px;
}
.ad-services > li > a {
  text-decoration: none;
}

.breadcrumbs > li {
  display: inline-block;
  vertical-align: top;
}
.breadcrumbs > li::before {
  content: '/';
  margin: 0 8px 0 4px;
}
.breadcrumbs > li:first-child::before {
  display: none;
}

.m-slider {
  position: relative;
  cursor: default;
  height: 560px;
  min-width: 984px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.m-slider .slick-dots {
  position: absolute;
  bottom: 40px;
  left: 0;
  text-align: center;
  width: 100%;
  z-index: 99;
}
.m-slider .slick-dots > li {
  display: inline-block;
  vertical-align: top;
  font-size: 0;
  line-height: 0;
  margin: 0 2px;
  padding-top: 6px;
}
.m-slider .slick-dots > li > button {
  cursor: pointer;
  margin: 0;
  outline: none;
  padding: 0;
  width: 14px;
  height: 14px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  text-indent: 9999px;
  background: transparent;
  border: 2px solid #000;
}
.m-slider .slick-dots > li.slick-active > button {
  background: #1a56bf;
  border-color: #1a56bf;
}

.m-slider-slide {
  position: relative;
  overflow: hidden;
  height: 560px;
}

.m-slide-content {
  position: absolute;
  background: #3b588b;
  background: rgba(59, 88, 139, 0.6);
  top: 130px;
  left: 50%;
  color: #fff;
  margin-left: -170px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  width: 340px;
  height: 340px;
  padding-top: 95px;
  padding-bottom: 95px;
}
.m-slide-content > p {
  font-weight: bold;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  text-align: center;
  font-style: italic;
  font-size: 42px;
  line-height: 50px;
}

.m-slider-control {
  position: absolute;
  top: 275px;
  background-position: -246px -158px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 50px;
  height: 50px;
}
.m-slider-control--next {
  right: 246px;
}
.m-slider-control--next:hover {
  background-position: -176px -158px;
}
.m-slider-control--prev {
  left: 246px;
  background-position: -386px -158px;
}
.m-slider-control--prev:hover {
  background-position: -316px -158px;
}

.free-offer {
  display: block;
  position: absolute;
  top: 0px;
  color: #fa114d;
  border: 2px solid #fa114d;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  text-align: center;
  width: 150px;
  height: 150px;
  padding-top: 45px;
  padding-bottom: 45px;
  right: 12px;
  z-index: 99;
}
.free-offer:hover {
  color: #1b1b1b;
  text-decoration: none;
}

.m-slider-container {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -480px;
  width: 960px;
  height: 560px;
}
.m-slider-container .free-offer {
  top: 30px;
  right: 0;
}

.m-news-slider {
  position: absolute;
  bottom: 40px;
  left: 0;
  background-color: rgba(59, 88, 139, 0.7);
  -webkit-border-radius: 50%;
          border-radius: 50%;
  width: 250px;
  height: 250px;
}

.m-news-slide {
  color: #fff;
  padding: 30px 15px 0;
  overflow: hidden;
  text-align: center;
}
.m-news-slide > p {
  height: 80px;
  overflow: hidden;
  font-size: 13px;
  line-height: 20px;
}
.m-news-slide > h5 {
  font-size: 21px;
  line-height: 40px;
  margin-bottom: 15px;
}

.m-news-more {
  position: absolute;
  bottom: 45px;
  text-align: center;
  width: 100%;
}
.m-news-more > a {
  color: #fff;
}

.m-news-controls {
  position: absolute;
  top: 40px;
  left: 0;
  padding: 3px 50px;
  width: 100%;
}

.m-news-control {
  background-position: -68px -348px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 9px;
  height: 14px;
}
.m-news-control--next {
  float: right;
}
.m-news-control--next:hover {
  background-position: -97px -348px;
}
.m-news-control--prev {
  float: left;
  background-position: -10px -348px;
}
.m-news-control--prev:hover {
  background-position: -39px -348px;
}

.route {
  position: relative;
}

.route--1 {
  background-position: -10px -158px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 146px;
  height: 59px;
  overflow: visible;
}

.route--2 {
  background-position: -10px -10px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 128px;
  height: 128px;
  overflow: visible;
}

.route-plane {
  background-position: -316px -237px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 30px;
  height: 24px;
}

.parallax > img {
  position: absolute;
  width: 100%;
}

.client {
  height: 220px;
  border: 2px solid #e6e6e6;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  text-align: center;
  line-height: 220px;
  margin-top: 20px;
}
.client:hover {
  border-color: #768aaf;
}
.client > img {
  vertical-align: middle;
}

.u-mt--1 {
  margin-top: 20px;
}

.u-mt--2 {
  margin-top: 40px;
}

.u-mt--3 {
  margin-top: 60px;
}

.p--blackquote {
  font-size: 17px;
  line-height: 30px;
  font-style: italic;
}

.u-marginTop--1 {
  margin-top: 20px;
}

h3 {
  font-size: 21px;
  line-height: 30px;
}

.ucServices {
  margin-bottom: 40px;
}

.ucService-name {
  position: relative;
  padding-left: 60px;
  font-size: 21px;
  line-height: 25px;
  margin-bottom: 10px;
}
.ucService-name::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
}

.ucService-name--1::before {
  background-position: -10px -237px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 45px;
  height: 45px;
}

.ucService-name--2::before {
  background-position: -140px -237px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 45px;
  height: 45px;
}

.ucService-name--3::before {
  background-position: -75px -237px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: block;
  width: 45px;
  height: 45px;
}

.ucService-content {
  text-align: justify;
}

.ucPageDescription {
  margin-bottom: 40px;
}
.ucPageDescription h1 {
  font-size: 56px;
  line-height: 40px;
  margin-bottom: 20px;
}
.ucPageDescription h1.h1--small {
  font-size: 38px;
  line-height: 50px;
  margin-bottom: 0px;
}
.ucPageDescription p {
  margin-bottom: 20px;
}

.ucTypeset p {
  margin-bottom: 20px;
}

.ucTypeset--substrate {
  background: #f0f0f3;
  margin-top: 20px;
  padding-top: 20px;
}
.ucTypeset--substrate::after, .ucTypeset--substrate::before {
  content: '';
  display: table;
}
.ucTypeset--substrate::after {
  clear: both;
}

.ucBreadcrumbs {
  margin-bottom: 40px;
}

.ucBreadcrumbs-link {
  display: inline-block;
  vertical-align: top;
}
.ucBreadcrumbs-link::before {
  content: '/';
  margin: 0 12px 0 8px;
}
.ucBreadcrumbs-link:first-child::before {
  display: none;
}

.ucClient {
  position: relative;
  height: 220px;
  margin-bottom: 20px;
}

.ucClient-logo {
  display: block;
  height: 100%;
  border: 2px solid #e9e9e9;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  text-align: center;
  line-height: 216px;
}
.ucClient-logo > img {
  vertical-align: middle;
}
.ucClient-logo:hover {
  border-color: #768aaf;
}

.ucClient-show {
  position: absolute;
  top: 0;
  right: 30px;
  width: 41px;
  height: 41px;
  background-position: -205px -237px;
}

.ucAnalyticsPost {
  border-color: #e2e2e2;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  padding-bottom: 19px;
  margin-bottom: 30px;
}
.ucAnalyticsPost p {
  margin-bottom: 10px;
}

.ucAnalyticsPost-date {
  color: #bcbcbc;
  font-size: 13px;
  line-height: 20px;
}

.ucGeography {
  background: url("../images/geography.png") center no-repeat;
  position: relative;
  z-index: -1;
  margin-top: -110px;
  height: 640px;
}

.ucContacts {
  width: 520px;
  height: 520px;
  text-align: center;
  margin: 0 auto;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: #758aae;
  color: #fff;
  padding-top: 90px;
  padding-bottom: 90px;
}

.ucContacts-name {
  font-size: 32px;
  line-height: 40px;
}

.ucContacts-address {
  font-size: 25px;
  line-height: 30px;
}

.ucContacts-email {
  margin-top: 40px;
  font-size: 21px;
  line-height: 30px;
}
.ucContacts-email > a {
  color: #fff;
}

.ucProject {
  border-bottom: 1px solid #e2e2e2;
  margin-bottom: 30px;
  padding-bottom: 10px;
}

.ucProject-name {
  color: #fb114e;
  font-size: 21px;
  line-height: 30px;
  margin-bottom: 10px;
}

mark {
  background: transparent;
}

.mark--important {
  color: #fb114e;
  font-weight: bold;
  font-size: 19px;
  line-height: 20px;
}

.mark--bold {
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
}

.mark--digits {
  color: #fb114e;
  font-weight: normal;
  font-size: 30px;
  line-height: 20px;
}

.ucPaginate {
  font-size: 13px;
  line-height: 20px;
}
.ucPaginate > a {
  display: inline-block;
  vertical-align: middle;
  line-height: 30px;
}

.ucPaginate-page {
  width: 30px;
  height: 30px;
  text-align: center;
}
.ucPaginate-page.active {
  background: #fb0f4d;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  text-decoration: none;
  color: #fff;
  margin-left: 5px;
  margin-right: 5px;
}

.ucPaginate-prev {
  margin-right: 60px;
}

.ucPaginate-next {
  margin-left: 60px;
}

@-webkit-keyframes animateWindow {
  0% {
    opacity: .5;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes animateWindow {
  0% {
    opacity: .5;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
.window {
  position: relative;
  width: 640px;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  padding: 20px 30px;
  margin: 0 auto;
  background: #fff;
  -webkit-animation: animateWindow .4s;
          animation: animateWindow .4s;
}

.ucReview-name {
  font-size: 21px;
  line-height: 30px;
}

.ucReview-content {
  padding-top: 20px;
  font-size: 13px;
  line-height: 20px;
}

.ucRecommendation {
  padding: 40px;
}

.ucRecommendation-content {
  background: #f2f2f2;
  border: 1px solid #e9e9e9;
  height: 750px;
}

.ucFilterSelect {
  margin-top: -10px;
  margin-bottom: 30px;
}

/*# sourceMappingURL=application.css.map */
